---
import Items from "../_items.astro";
import Layout from "@layouts/base.astro";
import allTags from "../allTags.ts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("writing");
  const itemsByTag = async (tag) => {
    return await getCollection("writing", ({ data }) => {
      return data.tags?.includes(tag);
    });
  };
  const paths = await Promise.all(
    allTags(items).map(async (tag) => {
      return {
        params: { tag },
        props: { items: await itemsByTag(tag) },
      };
    }),
  );
  return paths;
}

const { items } = Astro.props;
const { tag } = Astro.params;
---

<Layout pageTitle={`Writing about ${tag}`}>
  <h1>Writing about <span>{tag}</span></h1>
  <Items items={items} />
</Layout>
