---
import Layout from "@layouts/base.astro";
import Prose from "@components/Prose.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("reading");
  return items.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await item.render();
---

<Layout backTo="reading" pageTitle={item.data.title}>
  <Prose>
    <h1>{item.data.title}</h1>
    <Content />
  </Prose>
</Layout>
