---
import type { CollectionEntry } from "astro:content";
interface Props {
  item: CollectionEntry<"reading">;
}
const { item } = Astro.props;
const { category, title, datePublished, dateUpdated } = item.data;
const { Content } = await item.render();
---

<li class:list={["mb-5"]}>
  <h2>
    {title}
  </h2>
  <div class="prose dark:prose-invert">
    <Content />
  </div>
</li>
