---
import Layout from "@layouts/base.astro";
import Nadav from "../content/photos/nadav-closet.jpg";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import { Image } from "astro:assets";
import navLinks from "@components/navLinks.js";
---

<Layout noHeader={true} pageTitle="Nadav Spiegelman">
  <header class="md:relative mb-4 md:mb-12 pb-4">
    <ThemeSwitcher class="md:absolute top-0 right-0" />
  </header>
  <main
    class:list={[
      "xl:relative",
      "xl:grid xl:grid-cols-3",
      "xl:border-tumbleweed xl:dark:border-purple",
      "xl:pb-12 xl:border-b-4",
    ]}
  >
    <article
      class:list={[
        "xl:justify-self-end xl:mr-12 xl:col-span-2",
        "xl:border-r-4 xl:pr-12 xl:py-6",
        "border-tumbleweed dark:border-purple",
      ]}
    >
      <h1
        class="underline decoration-2 decoration-tumbleweed dark:decoration-purple"
      >
        Hello. I’m Nadav Spiegelman.
      </h1>
      <Image src={Nadav} alt="here I am" class="md:max-w-[24rem] 2xl:max-w-[30rem] mb-6" />

      <p>
        I’m an artist living in New York City.<br />
        I’m queer, Israeli & American & neither.<br />
        I’m <a href="/notes/about">a person of many interests.</a>
      </p>
    </article>

    <nav
      class:list={[
        "mt-6 pt-6 max-w-80",
        "xl:pt-0",
        "border-t-4",
        "border-tumbleweed dark:border-purple",
        "xl:border-t-0",
        "xl:text-3xl",
      ]}
    >
      {
        navLinks.map((link) => {
          return (
            <a class="block mb-2 lg:mb-3 xl:mb-6" href={link.href}>
              {link.text}
            </a>
          );
        })
      }
    </nav>
  </main>
  <footer
    class:list={[
      "mt-6 pt-6 max-w-80",
      "xl:pt-0 xl:max-w-none",
      "border-t-4",
      "border-tumbleweed dark:border-purple",
      "xl:border-t-0",
      "xl:text-right",
    ]}
  >
    Want to talk? <a href="mailto:hello@nadav.is">hello@nadav.is</a>
  </footer>
</Layout>
