---
import Layout from "@layouts/base.astro";
import Nadav from "../content/photos/nadav.jpg";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import { Image } from "astro:assets";
import navLinks from "@components/navLinks.js";
---

<Layout noHeader={true} pageTitle="Nadav Spiegelman">
  <header class="md:relative mb-10 pb-4">
    <ThemeSwitcher class="md:absolute top-0 right-0" />
  </header>
  <main class="mt-12 ml-6 md:text-xl">
    <h1 class="underline decoration-2 decoration-tumbleweed dark:decoration-purple">Hello. I’m Nadav Spiegelman</h1>
    <Image src={Nadav} alt="here I am" class="max-w-80 mb-4" />
    
      <div>I’m an artist living in New York City.</div>
      <div>I’m queer, Israeli & American & neither.</div>
      <div>I’m <a href="/notes/about">a person of many interests.</a></div>
    

    <nav class="mt-12">
      {
        navLinks.map((link) => {
          return (
            <a class="block mb-2" href={link.href}>
              {link.text}
            </a>
          );
        })
      }
    </nav>
  </main>
</Layout>
