---
import { map } from "astro/zod";
import Layout from "./layout.astro";
const pageTitle = "okay";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout pageTitle={pageTitle}>
  <h1>good day</h1>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
          {post.frontmatter.description}
        </li>
      ))
    }
  </ul>
</Layout>
