---
const { backTo } = Astro.props;
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header
  class="md:flex md:flex-row-reverse md:items-center mb-10 border-b-4 border-tumbleweed dark:border-purple pb-2 font-serif"
>
  <ThemeSwitcher />

  <div class="flex-1">
    {
      backTo ? (
        <a
          href={`/${backTo}`}
          class="text-purple-dark dark:text-purple-light italic"
        >
          ← Back to {backTo}
        </a>
      ) : (
        <a href="/" class="text-purple-dark dark:text-purple-light">
          ← Back home
        </a>
      )
    }
  </div>

</header>
