---
const { class: className, links } = Astro.props;
---

<nav class:list={["flex flex-wrap", className ]}>
  {
    links.map(({ text, href }) => {
      const isActive = href === Astro.url.pathname.replace(/\/$/, "");
      return (
        <a
          href={href}
          class:list={[
            "block mr-4",
            { "text-tumbleweed-600 dark:text-cyan": isActive },
            { "hover:text-tumbleweed-900 dark:hover:text-cyan-300": isActive },
          ]}
        >
          {text}
        </a>
      );
    })
  }
</nav>
