---
import Subnav from "@components/Subnav.astro";
import allTags from "../pages/notes/allTags";
import { getCollection } from "astro:content";

const allItems = await getCollection("writing");
const links = [
  { text: "all", href: "/notes" },
  ...[...allTags(allItems), "media", "reading"]
    .sort()
    .map((tag) => ({
      href: `/notes/about/${tag}`,
      text: tag,
    })),
];
---

<nav class="flex flex-wrap">
  <Subnav links={links} />
</nav>
