---
import { formatDistanceToNow } from "date-fns";

interface Props {
  date: Date;
  class?: String;
}

const { class: className, date } = Astro.props;
const longAgo = formatDistanceToNow(date, { addSuffix: true });
const capitalized = [...longAgo][0].toUpperCase() + longAgo.slice(1);
---
 
<span class:list={[className]}>
  {capitalized}
</span>
