---
import "../styles/global.css";
import "../styles/fonts.css";
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;
---

<html class="dark text-lg md:text-2xl/normal font-serif m-8" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="dark:bg-purple-dark text-purple-dark dark:text-purple-light">
    <Header />
    <slot />
  </body>
</html>
