---
import "../styles/global.css";
import "../styles/fonts.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---

<html class="font-serif dark:bg-purple-dark m-8 text-lg md:text-2xl/normal dark:text-purple-light" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
