---
import Layout from "@layouts/base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("writing");
  return items.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await item.render();
---

<Layout pageTitle={item.data.title}>
  <div class="prose dark:prose-invert prose-a:text-tumbleweed prose-a:no-underline prose-a:font-normal prose-h1:font-bold prose-h1:my-10">
    <Content />
  </div>
</Layout>
