---
import WrittenLongAgo from "@components/WrittenLongAgo.astro";
import Layout from "@layouts/base.astro";
import Prose from "@components/Prose.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const items = await getCollection("writing");
  return items.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await item.render();
const { date, title } = item.data;
---

<Layout pageTitle={title}>
  <header class="mb-8">
    <h1 class="mb-0">{title}</h1>
    <WrittenLongAgo date={date} />
  </header>

  <Prose>
    <Content />
  </Prose>
</Layout>
