---
import WrittenLongAgo from "@components/WrittenLongAgo.astro";
const { collection, data, slug } = Astro.props;
const { date, tags = [], title } = data;
const isArchived = (() => {
  if (!tags) return false;
  return tags.includes("archived");
})();
const isFeatured = (() => {
  if (!tags) return false;
  return tags.includes("featured");
})();

const category = (() => {
  if (collection == "writing" && tags) {
    return tags[0];
  }
  return collection;
})();
---

<a
  href={`/writing/${slug}`}
  class:list={[
    "relative group",
    "text-sm",
    "transition-all",
    "motion-reduce:transition-none",
    "p-4 m-4",
    "border-4 border-tumbleweed-600",
    "dark:border-purple rounded",
    { "border-tumbleweed-600/50 hover:border-tumbleweed-600/100": isArchived },
    { "dark:border-purple/70 dark:hover:border-purple/100": isArchived },
    { "row-span-2": isFeatured },
  ]}
>
  <span class:list={["italic text-greenlake-800 dark:text-purple-pale"]}>
    {category}
  </span>
  {
    isArchived && (
      <span
        class:list={[
          "transition-all absolute top-2 right-2 rotate-12 group-hover:rotate-0 italic text-greenlake-800 dark:text-purple-pale",
          "motion-reduce:transform-none",
        ]}
      >
        Archived
      </span>
    )
  }
  <div class="block text-lg/tight my-5">
    {title}
  </div>
  <time class="block text-sm text-purple-dark dark:text-purple-light">
    <WrittenLongAgo date={date} />
  </time>
</a>
