---
import Items from "./_items.astro";
import Layout from "@layouts/base.astro";
import { getCollection } from "astro:content";
import allTags from "./allTags.ts";

const items = await getCollection("writing");
---

<Layout pageTitle="Writing">
  {
    allTags(items).map((tag) => {
      return <a href={`/writing/about/${tag}/`} class="block">{tag}</a>;
    })
  }
  <Items items={items} />
</Layout>
