---
import Items from "./_items.astro";
import Layout from "@layouts/base.astro";
import TagNav from "@components/TagNav.astro"
import { getCollection } from "astro:content";

const items = await getCollection("writing");
---

<Layout pageTitle="Writing">
  <h1>Writing about everything</h1>
  <TagNav />
  <Items items={items} />
</Layout>
