---
import WrittenLongAgo from "@components/WrittenLongAgo.astro";
import { getCollection } from "astro:content";
import Layout from "@layouts/base.astro";
const items = await getCollection("writing");
---

<Layout pageTitle="Writing">
  <ol>
    {
      items.map(({ data, slug }) => {
        const { date, title } = data;
        return (
          <li class="mb-4">
            <a href={`/writing/${slug}`} class="block text-lg">
              {title}
            </a>
            <time>
              <WrittenLongAgo date={date} />
            </time>
          </li>
        );
      })
    }
  </ol>
</Layout>
